.navbar{

    height:100px;

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1366px;
        margin: auto;
        height: 100%;

//extra
        // background-color: red;
        // border: 5px solid rgba(255, 255, 0, 0.644) ;
    
        span{
            font-weight: bold;
            margin-left: 80px;
        }
    
        .links{
            display: flex;
            gap: 20px;
            background: transparent;

            img{
                width: 28px;
                height: 28px;
                background: rgba(90, 97, 26, 0.418);
                border-radius: 30px;
      
            }
        }

    }


}